<h3 class="title">Si somos consumidores responsables influimos de manera positiva en el mercado</h3>
<br>

<div class="row row-cols-1 row-cols-md-4 g-4 card-fix">

    <div class="col">
        <div class="card">
            <img class="card-img-top " src="assets/img/bolsa1.jpg">
            <div class="card-body">
                <h5 class="card-title">Mochila - azúl</h5>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <img class="card-img-top" src="assets/img/bolsa2.jpg">
            <div class="card-body">
                <h5 class="card-title">Mochila - Negro</h5>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <img class="card-img-top" src="assets/img/bolsa3.jpg">
            <div class="card-body">
                <h5 class="card-title">Mochila - Crema</h5>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <img class="card-img-top" src="assets/img/bolsa10.jpg">
            <div class="card-body">
                <h5 class="card-title">Bolsa - Colores</h5>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <img class="card-img-top" src="assets/img/bolsa9.jpg">
            <div class="card-body">
                <h5 class="card-title">Bolsa - Floriada 1</h5>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <img class="card-img-top" src="assets/img/bolsa8.jpg">
            <div class="card-body">
                <h5 class="card-title">Bolsa - Floriada 2</h5>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <img class="card-img-top" src="assets/img/bolsa6.jpg">
            <div class="card-body">
                <h5 class="card-title">Bolsa - Verde</h5>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <img class="card-img-top" src="assets/img/bolsa5.jpg">
            <div class="card-body">
                <h5 class="card-title">Bolsa - Marrón</h5>
            </div>
        </div>
    </div>

</div>